div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 20px;
}

.reservadas {
    background: lime;
}
.luzRGB {
    background: rgb(210, 105, 30);
}
/* Para escribir en Hexadecimal es necesario utilizar el símbolo 
numeral y los números en dos dígitos. */
.hex {
    background: #FF5030;
}
.porcentual {
    background: rgb(50%,20%,150%);
}
footer {
    background: grey;
}