body {
    font-size: 16px;
}
h1 {
    color: firebrick;
}
h2 {
    color: rgb(44, 10, 168);
}
/* Medidas absolutas */
p.in {
    font-size: 1in;
}
p.cm{
    font-size: 1cm;
}
p.mm {
    font-size: 10mm;
}
p.pt {
    font-size: 32pt;
}
p.pc {
    font-size: 1pc;
}

/* Medidas relativas */
p.em {
    font-size: 2em;
}
p.ex {
    font-size: 2ex;
}
p.px {
    font-size: 25px;
}
div p{
    font-size: 3em;
}
div p.rem {
    font-size: 3rem;
}