body {
    font-size: 20px;
}
h1 {
    color: firebrick;
}
h2 {
    color: rgb(44, 10, 168);
}
/* Medidas porcentuales */
div.fija{
    height: 100px;
    width: 100px;
    background: red;
}
div.porcentual {
    height: 100px;
    width: 50%;
    background: #14a528;
    margin: 5%;
}
/* Medidas absolutas */
p.in {
    font-size: 1in;
}
p.cm{
    font-size: 1cm;
}
p.mm {
    font-size: 10mm;
}
p.pt {
    font-size: 32pt;
}
p.pc {
    font-size: 1pc;
}

/* Medidas relativas */
p.em {
    font-size: 2em;
}
p.ex {
    font-size: 2ex;
}
p.px {
    font-size: 25px;
}
p{
    font-size: 2em;
}
p.rem {
    font-size: 2rem;
}