/*
elemento {
	propiedad: valor;
}
*/
header {
	background: rgb(37, 56, 161);
	width: 100%;
}
header h2, h1 {
	color: white;
}
h2 {
	color: indigo;
}
/*
Selector de atributos
elemento[atributo="valor"] {
	propiedad: valor;
}
*/
h2[title="main"] {
	color: whitesmoke;
}
nav {
	background: rgb(81, 172, 233);
	margin: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}
li {
	display: inline-block;
	border: 1px solid red;
}
h3 {
	color: green;
}
/* Varios elementos con los mismos atributos
separados por coma */
img, video {
	height: 300px;
	width: 500px;
}
/* Ruta interna, ej: un párrafo dentro de un
artículo */
article p {
	color: rgb(163, 9, 9);
}
/* Selector de identificador */
p#azul {
	color: blue;
}
/* Selector de clase  */
.grande {
	font-size: 20px;
}
/*
Selectores adyacentes
Hace referencia a un elemento que tenga otro del mismo tipo
previamente y en el mismo nivel (Hermanos)
Cambia todos los elementos excepto el primero
*/
p+p {
	font-weight: bolder;
}
/*
Selector Padre > Hijo
Cambia los elementos "hijos" contenidos dentro de un padre.
*/
div > p {
	color: indigo;
	font-style: italic;
}
/*
Selector de hermanos
Todos los elementos que sean hermanos de otros, no importa dónde 
estén
*/
/* p ~ p {

} */